body {
    font-family: Verdana;
    background-color: #e0f7fa;
    text-align: center;
    margin-top: 50px;
  }
  button {
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color: #26c6da;
    color: white;
    border-radius: 8px;
  }
  button:hover {
    background-color: #00acc1;
  }
  